dj-database-url==0.5.0
Django==3.0.7
django-base64field==1.0
django-compressor==2.4
django-crontab==0.7.1
django-qrcode==0.3
djangorestframework==3.12.2
geopy==2.1.0
gunicorn==20.0.4
numpy==1.19.5
# opencv-python==4.5.1.48
Pillow==8.1.0
pipenv==2020.8.13
pyzbar==0.1.8
qrcode==6.1
qrtools==0.0.2
requests==2.25.1
tensorflow==2.0.0
virtualenv==20.0.30
Werkzeug==1.0.1
zbar-py==1.0.4
django-heroku==0.3.1
scikit-image==0.17.2
zbar==0.10

